html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Fraunces';
}
a {
    text-decoration: none;
    display: inline-block;
}
img{
    width: 100%;
    height: auto;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
