.site-footer {
    background: #2C343E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 47px 85px;
    width: 100%;
}

.footer-icon img {
    width: 25px;
    height: 20px;

}

.footer-img {
    width: 236px;
}

.footer-link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.footer-item+.footer-item {
    margin-left: 35px;
}

.footer-list {
    display: flex;
    padding-right: 200px;
}

.footer-icon {
    display: flex;
}

@media screen and (max-width:1100px) {
    .footer-list {
        padding-right: 0;
    }

    .footer-item+.footer-item {
        margin-left: 15px;
    }

    .site-footer {
        padding: 34px 40px;
    }
}

@media screen and (max-width:750px) {
    .site-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .site-footer {
        max-width: 100%;
    }

    .footer-list {
        max-width: 100%;
        margin-top: 32px;
        margin-bottom: 64px;
        padding: 0;
    }

    .footer-item+.footer-item {
        margin-left: 35px;
    }

    .footer-link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
        max-width: 140px;
    }

    .site-footer {
        padding: 54px 0;
    }
}

@media screen and (max-width:410px) {
    .footer-list {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        text-align: center;
    }
.footer-item{
    padding: 0;
    margin: 0;
    text-align: center;
  
}
.footer-item + .footer-item {
    margin-top: 35px;
    margin-left: 0;
}
.footer-item2 + .footer-item2 {
    margin-left: 35px;
    margin-top: 0;
}
}