.site-header {
    max-width: 1280px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.site-header__img {
    max-width: 235px;
    height: 25px;
}

.site-header__list {
    display: flex;
    align-items: center;

}

.site-header__link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.site-header__item +.site-header__item {
    margin-left: 33px;
}

.site-header__menu {
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(../../img/Combined\ Shape.png);
    border: none;
    background-color: inherit;
    background-position:  center;
    display: none;
}

.site-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (max-width:735px) {
    .site-header__list{
        display: none;
    }
    .site-header__menu{
        display: inline-block;
    }
    .site-header__img{
        max-width: 235px;
        display: inline-block;
    }
}
@media only screen and (max-width:375px) {
    .site-header__list{
        display: none;
    }
    .site-header__menu{
        display: inline-block;
    }
    .site-header__img{
        max-width: 163px;
        display: inline-block;
    }
}